@charset "UTF-8";

@import url('https://fonts.googleapis.com/css2?family=Shantell+Sans:wght@300&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Ubuntu:wght@300&display=swap');

/* font-family: 'Shantell Sans', cursive; */
/* font-family: 'Ubuntu', sans-serif; */

* {
    font-family: 'Ubuntu', sans-serif;
}
iframe {
    width: 380px;
    height: 220px;
    background-color: rgb(178, 226, 246);
    box-shadow: 1px 3px 7px;
    border-radius: 7px;
}


.header {
    background-color: black;
    color: rgb(178, 226, 246);
    text-align: center;
}

.colVideos {
    /* display: flex;
    flex-direction: column; */
    display: grid;
    justify-items: center;
    grid-template-columns: 1fr;
    transition: .5s;
}

.nav-link:hover{
    background-color: red;
}

.tab-pane > h3 {
    background-color: rgb(178, 226, 246);
    text-align: center;
    text-shadow: 1px 1px 1px white;
}

.header > h4 {
    font-family: 'Shantell Sans', cursive;
    color: rgba(200, 234, 249, 0.537);;
}