@charset "UTF-8";


iframe {
    width: 380px;
    height: 220px;
}


.header {
    background-color: black;
    color: white;
    text-align: center;
}

.colVideos {
    /* display: flex;
    flex-direction: column; */
    display: grid;
    justify-items: center;
    grid-template-columns: 1fr;
    transition: .5s;
}